#using
apt update && apt upgrade
apt install php
apt install git
git clone https://github.com/Mohamad550/Web-scanner
cd Web-scanner
chmod +x scanner.php
php scanner.php

help







# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
